.app {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
  background: linear-gradient(
    180deg,
    #2f0b5b 0%,
    #000 12.02%,
    #000 65.87%,
    #1f1d69 100%
  );
}

.app-content {
  display: flex;
  padding: 170px 0 0 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

/* Button Styles */
.gradient-button {
  border-radius: 30px;
  background: linear-gradient(90deg, #6047ac 0%, #3d38f5 100%);
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.gradient-button::before {
  content: "";
  position: absolute;
  top: -200%;
  left: -300%;
  width: 600%;
  height: 600%;
  background: #3d38f5;
  transition: left 0.3s ease;
  z-index: -1;
  transform: rotate(-30deg);
}

.gradient-button:hover {
  transform: scale(1.2);
}

.gradient-button:hover::before {
  left: -200%;
}

.gradient-button.start-button {
  display: flex;
  width: 209px;
  height: 57px;
  padding: 18px 20px;
  justify-content: center;
  align-items: center;
  gap: 9.429px;
}

/* Text Gradient Styles */
.gradient-text {
  background: linear-gradient(180deg, #e5e4ff 43.27%, #5b57ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: MuseoModerno;
  font-weight: 800;
  font-style: normal;
  line-height: normal;
}

.line {
  width: 200%;
  height: 2px;
  background: #fff;
}

.about-section {
  /* align-self: start; */
  width: 100%;
  max-width: 1300px;
  /* display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center; */
  margin: 50px;
}
