.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 24px;
  overflow: hidden;
  margin: 64px auto;
}

.title {
  display: flex;
  justify-content: flex-start;
  font-size: 40px;
  font-weight: bold;
  margin-top: 30px;
  color: var(--color-main);
}

.title:hover {
  color: var(--color-point);
}

.row {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 28px;
  width: 370px;
}

.centerMessage {
  width: 100%;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: var(--color-main);
  font-weight: bold;
}

.button {
  background: none;
  border: none;
}

@media (max-width: 375px) {
  .container {
    gap: 20px;
  }

  .title {
    font-size: 23px;
  }
}
