
.searchWrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 64px;
    padding: 8px 16px;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #CFD3D4;
    background-color: #fff;
    position: relative;
    color-scheme: light;
}

.searchIcon {
    margin-right: 10px;
    cursor: pointer;
}

.searchInput {
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: transparent;
    position: relative;
    z-index: 2;
}

.placeholder {
    position: absolute;
    left: 50px; /* icon width + margin */
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    pointer-events: none;
    z-index: 1;
}

@media (max-width: 480px) {

    .searchWrapper {
        width: 255px;
        height: 64px;
        padding: 0 16px;
    }

    .searchInput {
        font-size: 14px;
    }

    .placeholder {
        left: 60px; /* adjusted for smaller icon */
        font-size: 14px;
    }

    .searchIcon {
        width: 18px;
        height: 18px;
    }
}