    .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
    }

    .gridContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    margin: 45px auto;
    gap: 40px;
    }

    .row {
    display: flex;
    width: 1118px;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

    .grid2x2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:40px;
    }
