.toastContainer {
  display: flex;
  padding: 12.42px 23.46px;
  align-items: center;
  gap: 11.04px;
  border-radius: 37.259px;
  background: #EBEBFF;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  align-self: stretch;
}

.toastContainer.show {
  opacity: 1;
  visibility: visible;
}

.toastText {
  color: #333;
  font-family: Inter, PretendardVariable, sans-serif;
  font-size: 27.599px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.toastIcon {
  width: 33.119px;
  height: 33.119px;
  aspect-ratio: 1/1;
}
