.chipContainer {
    display: flex;
    justify-content: center; /* 가운데 정렬 */
    flex-wrap: wrap;
    gap: 25px;
    box-sizing: border-box;
    }

    .chip {
    border-radius: 50px;
    background: #3D38F5;
    height: 40px;
    padding: 0 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #FFF;
    text-align: center;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
    white-space: nowrap;
    }
