.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    width: 519px;
    height: 163px;
    padding: 20px;
    gap: 16px;
    flex: 1 0 0;

    border-radius: 11.95px;
    border: 0.5px solid var(--glass, #C5C2FF);
    background: var(--glass_backFill, rgba(255, 255, 255, 0.02));
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) inset;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);

}

.title {
    color: #FFF;
    font-family: Pretendard, system-ui, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.chipContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.chip {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding: 0 14px;          
    border-radius: 20px;
    border: 0.25px solid var(--glass, #C5C2FF);
    background: rgba(255, 255, 255, 0.30);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);

    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) inset;
    cursor: pointer;
}

.chipText {
    font-family: Pretendard, system-ui, sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 1;
    white-space: nowrap;

    background: var(--result-title, linear-gradient(96deg, #DFCDFF 2.91%, #FFF 102.69%));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}
