.pageBg {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('/data/images/background/light.png') center/cover no-repeat fixed;
    color: #FFF;
}

@media (prefers-color-scheme: dark) {
    .pageBg {
        background-image: url('/data/images/background/dark.png');
    }
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
}

.topWrapper{
    width: 1338px;
    margin: 94px auto 0 auto;
}

.p{
    color: #FFF;
    text-align: center;
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.h1{
    color: #FFF;
    text-align: center;
    font-family: Pretendard;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.mainContainer{
    margin: auto;
    height: 479px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.actionButtons{
    margin: auto;
}

.shareOverlay{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);
    z-index: 40;
}

.shareContainer{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 70px;
    z-index: 100;
}

@media (max-width: 480px) {

    .p{
        font-size: 16px;
        line-height: normal;
    }

    .h1{
        font-size: 24px;
        line-height: normal;
    }

    .mainContainer{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        height: 389px;
    }

    .topWrapper{
        width: 327px;
        margin: 75px auto 0 auto;
    }
}