.topWrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  position: relative;
  width: 100%;
  margin: 88px auto 24px auto;
  width: 1338px;
}

.topRightWrapper {
  display: flex;
  gap: 15px;
  align-items: center;
}

.pageBg {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('/data/images/background/light.png') center/cover no-repeat fixed;
    color: #FFF;
}

@media (prefers-color-scheme: dark) {
  .pageBg {
    background-image: url('/data/images/background/dark.png');
  }
}

.chips {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1; /* 버튼 위로 올라가게 */
}

.actionsWrapper {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  height: 40px; /* chips와 같은 높이 */
}

.actions {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.gridContainer {
  margin: 40px auto;
  display: grid;
  width: 1338px;
  grid-template-rows: auto auto;
  gap: 25px;
  align-items: center;
  grid-template-columns: 3.8fr 2.4fr 1.4fr 2.5fr;
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    " title concept font examples "
    " images concept font examples "
    " images palette palette examples "
    " images keyword keyword examples ";

  align-items: start;
  justify-items: center;
}

.conceptBox {
  grid-area: concept;
}

.fontBox {
  grid-area: font;
}

.imageBox {
  grid-area: images;
}

.paletteBox {
  grid-area: palette;
}

.titleBox {
  grid-area: title;
}

.keywordBox {
  grid-area: keyword;
}

.exampleBox {
  grid-area: examples;
}

.titleBox,
.imageBox,
.conceptBox,
.exampleBox,
.keywordBox,
.paletteBox,
.fontBox {
  width: 100%;
}

@media (max-width: 1200px) {
  .topWrapper,
  .gridContainer {
    width: 997px;
  }

  .gridContainer {
    grid-template-columns: 3.8fr 2.4fr 1.4fr;
    grid-template-areas:
      " title concept font "
      " images concept font "
      " images palette palette "
      " images keyword keyword ";
  }

  .exampleBox {
    display: none;
  }
}

@media (max-width: 600px) {
  .topWrapper,
  .gridContainer {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    margin: 44px auto 24px auto;
  }

  .topWrapper {
    flex-direction: column;
    align-items: flex-end;
    gap: 15px;
  }

  .gridContainer {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      " title   title   "
      " images  images  "
      " concept font    "
      " palette palette "
      " keyword keyword ";
    gap: 20px;
  }
}
